@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>We'd love to hear from you.</h3>

<hr />

<address>
    <strong>GroomMate Salon</strong><br />
    Veer Savarkar Chowk Oppo Kohinoor Plaza,<br /> 
    Near RLY Station Ulhasnagar East<br />
    Mumbai, MH 421004<br />
    <abbr title="Phone">PHONE NUMBER:</abbr>
    1234567890
</address>

<address>
    <strong>Support & Bookings:</strong><br />
    <a href="mailto:contact@groommate.com">contact@groommate.com</a>
</address>

<hr />

<h4><strong>Business Hours</strong></h4>
<p>
    Monday - Friday: 9:00 AM - 10:00 PM<br />
    Saturday: 8:00 AM - 9:00 PM<br />
    Sunday: 10:00 AM - 6:00 PM<br />
    Tuesday: Closed
</p>
